.b-editor{
    width: 100%;
    max-width: 960px;
    margin: 10px auto 0;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #adadad;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 10px grey;
}
textarea.b-edit-area{
    resize: none;
    height: 292px;
    margin: 0 0 10px;
    transition-duration: .3s;
    transition-property: opacity;
}
.b-item-doc-link{
    text-align: left;
    width: 94%;
    padding: 10px 3%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.b-item-doc-link--checked{
    background-color: #e6e6e6;
}
.b-editor__list-doc{
    overflow-y: auto;
    height: 291px;
}
.b-edit-area--hide{
    display: none;
}
.b-pop-up-cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
}
.b-pop-up{
    display: none;
}
.b-pop-up-window{
    width: 240px;
    height: 160px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -120px;
    border: 1px solid #adadad;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fcfcfc;
    /*box-shadow: 2px 2px 10px grey;*/

}
.b-pop-up__close{
    width: 22px;
    height: 22px;
    position: absolute;
    top: -12px;
    right: -15px;
    background: #000;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 1;
}

.b-pop-up-btn{
    margin: 20px auto 0;
    display: block;
}
