<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Текстовый редактор для Antida Software</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!--<script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script src="js/jquery.json.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-app="documentApp">
<div class="b-wrapper" ng-controller="editorCtrl">
    <div class="b-wrapper__editor" >
        <div class="b-editor">
            <div class="b-b-editor__big-col col-md-8">
                <h2 class="h3">Редактор</h2>
                <div class="b-edit-box">
                    <textarea class="b-edit-area form-control" rows="3" ng-blur="autoSaveNewArea()"></textarea>
                    <textarea ng-model="data.text" ng-change="changeArea()" class="b-edit-area b-edit-area--hide b-edit-area--{{data.id}}
                     form-control " rows="3"   ng-repeat="data in datas track by $index">{{data.text}}</textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Сохранить" ng-click="addDocument()" />
                <input class="btn btn-primary" type="submit" value="Отчистить" ng-click="clearArea()" />
            </div>
            <div class="b-b-editor__small-col col-md-4">
                <h2 class="h3">Документы</h2>
                <div class="b-editor__list-doc">
                    <div class="b-item-doc-link b-item-doc-link--{{data.id}} btn btn-default" ng-repeat="data in datas track by $index" ng-click="checkDoc(data)">{{data.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-pop-up">
        <div class="b-pop-up-cover" ng-click="closePopUp()"></div>
        <div class="b-pop-up-window ">
            <p>Введите имя документа:</p>
            <input type="text" class="form-control b-pop-up-input"/>
            <input type="submit" class="btn btn-primary b-pop-up-btn" ng-click="closePopUp()"/>
            <div class="b-pop-up__close close" ng-click="closePopUp()">&times;</div>
        </div>
    </div>
</div>


</body>
</html>
